{% extends 'base.html' %}

{% block main %}
    <div class="home">
        <h1>Добро пожаловать!</h1>
        <p>На данном сайте вы сможете сократить ссылки на ваши любимые сайты <s>правда только на этом сайте</s>!</p>
        <p>Чтобы это сделать проследуйте небольшой инструкией.</p>
        <ol>
            <li>Вам необходимо Войти или Зарегестрироваться на сайте</li>
            <li>Нажмите кномку <b>"Сжиматель"</b></li>
            <li>Введите ссылку и слово до которого хотите сжать в соотвествующих полях</li>
            <li>Наслаждайтесь результатом!</li>
        </ol>
    <h3>Приятного пользования!</h3>
    </div>
{% endblock %}